body, html{
    background: rgb(92, 91, 91);
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

.painel{
    height: 100vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 5rem;

}
.nome_painel{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2em;
    font-size: 2em;
    font-weight: 700;
}


.pessoa{
    text-align: center;
    padding: 2em;
    height: 400px;
    width: 300px;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
    background: aliceblue;

}

.botao_like{
    position: relative;
    left: 27em;
    top:1em;
    width: 5em;
    height: 3em;
    background: rgb(120, 213, 139);
    border-color: rgb(120, 213, 139);
    border-radius: 1em;
    color: black;
    
}

.botao_deslike{
    position: relative;
    top: 1em;
    left: 35em;
    width: 5em;
    height: 3em;
    background: red;
    border-color: red;
    border-radius: 1em;
    color: white;

}

.pessoa > div{
    margin-top: 0.5em;
}